<head>
    {% assets "scss_all" %}
    <!-- this is how you include css -->
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {%endassets%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    {% assets "game_js" %}
    <!-- this is how you include js -->
    <script src="{{ ASSET_URL }}"></script>
    {%endassets%}
    <title>{{ name }}</title>
    <link rel="icon" type="image/x-icon" href="unnamedproject/static/images/icon/logo.jpg">
</head>
<body>
    <header>
        {%block header%}{%endblock%}
    </header>
    <main>
        {%block content%}{%endblock%}
    </main>
    <footer>
        {%block footer%}{%endblock%}
    </footer>
</body>