{% extends 'base-layout.html' %}

{%block content%}
<form action="{{ url_for('games.create')}}" method="post">
    <label for="player_name">Name</label>
    <input type="text" id="pn" name="first_number" required autofocus>
    <button type="submit">Abschicken</button> 
    <label for="player_count">Anzahl Spieler</label>
    <select id="player_count" name="player_count" required>
        <option value="two">Zwei</option>
        <option value="three">Drüü</option>
        <option value="four">Vier</option>
    <p2>{{  message  }}</p2>
</form>

{%endblock%}

