@import "variables.scss";

body {
  background-color: $basecolor;
  margin: 0px;

  header {
    background-color: $basecolor;
  }

  main {

    #lobby-chooseplayercount {

      text-align: center;
        
        align-items: center;
        justify-content: center;
        transform: scale(3);
        padding-top: 5%;
        
      #lobby-hmp {

        text-decoration: none;
        color: navy;

      }


      #creategamebutton {

        background-color: $lightcolor;
        color: midnightblue;

      }

    }
    
    #lobby-ee {


      text-align: left;
      padding-top: 9cm;

      #lobby-eastr {

        text-decoration: none;
        color: $basecolor;

      }

    }
    
    #gametable {
      display: flex;
      width: 100%;
      height: 100%;

    
      #top_card_background_div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 300px;
        font-size: 128px;
      }

      .card-selection-form {
        display: inline-block;

        .card-selection-form-button {
          border: none;
          outline: none;
          background-color: transparent;
          box-shadow: none;
        }
      }

      #play-area {
        display: flex;
        height: 100%;
        flex-grow: 1;
        flex-direction: column;

        #center-flex-box {
          width: 100%;
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #action-bar {
          height: 200px;
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          background-color: $lightcolor;
          padding-top: 25px;
          padding-bottom: 25px;

          #card_selection_div {
            font-size: larger;
            width: 1000px;
            height: 100%;
            background-color: $lightcolor;
            text-align: center;
            overflow: scroll;
          }
        }
      }

      #sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $lightcolor;
        text-align: center;
        width: 250px;
        height: 100%;
        justify-content: right;

        #player-ranking {
          padding: 0px;
          background-color: $lightcolor;
          list-style-type: none;

        }

        .player-ranking-name {
          margin: 0px;
        }

        #player-ranking-name-cardcount {
          margin-bottom: 8px;
        }

        #chatbox {

          background-color: $lightcolor;

        }

        .spacer {
          flex-grow: 1;
        }

        #draw-button-frame {
          margin-bottom: 30px;
          background-color: red;
          border-color: black;
          border-style: solid;
          border-width: 1px;
          border-radius: 50%;
          #draw-button-form {
            padding: 75px;
            margin: 0px;
            #draw-button {
              border: none;
              background-color: inherit;
              #draw-button-text {
                font-size: 20px;
              }
            }
          }
        }


      }
    }
  }
}