@import "variables.scss";

body {
  background-color: $basecolor;
  margin: 0px;

  header {
    background-color: $basecolor;
  }

  main {

    #chooseplayercount {

      text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(2);
        padding-top: 5%;


      #creategamebutton {

        background-color: $lightcolor;
        color: midnightblue;

      }

    }

    #gametable {
      display: flex;
      width: 100%;
      height: 100%;

    
      #top_card_background_div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 300px;
        font-size: 128px;
      }

      .card-selection-form {
        display: inline-block;

        .card-selection-form-button {
          border: none;
          outline: none;
          background-color: transparent;
          box-shadow: none;
        }
      }

      #play-area {
        display: flex;
        height: 100%;
        flex-grow: 1;
        flex-direction: column;

        #center-flex-box {
          width: 100%;
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #action-bar {
          height: 200px;
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          background-color: $lightcolor;
          padding-top: 25px;
          padding-bottom: 25px;

          #card_selection_div {
            font-size: larger;
            width: 1000px;
            height: 100%;
            background-color: $lightcolor;
            text-align: center;
            overflow: scroll;
          }

          #draw-button-frame {
            align-self: right;
            #draw-button-form {
              padding: 0px;
              margin: 0px;
              #draw-button {
                padding: 50px;
                background-color: red;
                border: none;
              }
            }
          }
        }
      }

      #players-chat-box {
        background-color: $lightcolor;
        text-align: center;
        width: 250px;
        height: 100%;
        justify-content: right;
        align-items: right;

        #player-ranking {
          padding: 0px;
          background-color: white;
          list-style-type: none;

        }

        .player-ranking-name {
          margin: 0px;
        }

        #player-ranking-name-cardcount {
          margin-bottom: 8px;
        }

        #chatbox {

          background-color: white;

        }


      }
    }
  }
}