{% extends 'base-layout.html' %}

{%block content%}
<div id="lobby-chooseplayercount">
    <form method="post" action="/games/" >
    <input type="number" min="2" max="8" id="number-of-players" name="number-of-players">
    <input type="text" id="game-name" name="game-name">
    
    <button type="submit" id="creategamebutton">Create Game</button>   
    </form>

    <a href="{{ url_for('games.index') }}" id="joingamebutton">Join Game (WIP)</a>

    <p id="lobby-hmp">How many players?</p>
</div>

<div id="lobby-ee">
    <a href="https://www.youtube.com/watch?v=SE1ytJHliC4" target="_blank" id="lobby-eastr">Hi :)</a>
</div>

{%endblock%}

