{% extends 'base-layout.html' %}

{%block content%}
<!--Spielname: 5/7 Spieler       [Beitreten]-->
<div id="game-list-div">
    <h1>Liste aller aktiven Spiele</h1>
    {%for game in games%}
    <div id="game-list-item">
        <p class="g-l-i-c">{{game.name}}</p>
        <div class="spacer"></div>
        <p class="g-l-i-c">{{game.players|length}}/{{game.players|length}} Spieler</p>
        <div class="spacer"></div>
        <form class="g-l-i-c" action="{{ url_for('games.show', game_id=game.id)}}">
        <button>
            Beitreten
        </button>
      </form>
    </div>
    {%endfor%}
</div>

{%endblock%}

