{% extends 'base-layout.html' %}

{%block content%}



<div id="waiting-room-div">
    <h1>{{game.name}}</h1>
    <p><b>Anz. Spieler: </b>{{game.game_players|length}}/{{game.n_players}}</p>
    
    <ul id="joined-players-list">
        {%for player in game.game_players%}
        <li><b>{{player.player.name}}</b></li>
        {%endfor%}
    </ul>
    <form id="draw-button-form" action="{{ url_for('games.start', game_id=game.id)}}">
        <button id="start-game-button">
          <p id="start-game-button-text">Start Game</p>
        </button>
      </form>
</div>
{%endblock%}

