{% extends 'base-layout.html' %}

{%block header%}

{%endblock%}

{% block content %}
<div id="gametable">

  <div id="play-area">
   
    <div id="center-flex-box">
      <div id="top_card_background_div" class="card card-color-{{ game.get_top_card().color.value.lower()}}">
          <p id="top_card_number" class="card">{{game.get_top_card().value.value}}</p>
      </div>


    </div>
    <div id="card_selection_div">
      <p>*Card Selection*</p>
    </div>

  </div>


 

 <div id="players-chat-box">
  <p> Player List </p>
  <ol>
   <li>Numero Uno</li>
   <li>2nd</li>
   <li>3rd</li>
   <li>4th</li>
   </ol>
</div>



</div>
{% endblock %}

{%block footer%}

{% endblock %}