{% extends 'base-layout.html' %} {%block header%} {%endblock%} {% block content
%}
<div id="gametable">
  <div id="play-area">
    <div id="center-flex-box">
      <div
        id="top_card_background_div"
        class="card card-color-{{ game.get_top_card().color.value.lower()}}">
        <p id="top_card_number" class="card">
          {{game.get_top_card().value.value}}
        </p>
      </div>
    </div>
    <div id="card-selection-frame">
      <div id="card_selection_div">
        {%for card in game.game_players[game.active_player].get_hand()%}
         
        {{card}} 
        

        {%endfor%}
      </div>
    </div>
  </div>
  <div id="players-chat-box">
    <p>Spielerliste</p>
    <ul id="player-ranking">
      {%for player in game.game_players%}
        {%if game.active_player+1 == player.player_id%}
        <li>
          <b class="player-ranking-name">>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spieler {{player.player_id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;</b>
          <p class="player-ranking-name" id="player-ranking-name-cardcount">Anzahl Karten: {{player.get_hand.size}}</p>
        </li>
        {%else%}
        <li>
          <b class="player-ranking-name">Spieler {{player.player_id}}</b>
          <p class="player-ranking-name" id="player-ranking-name-cardcount">Anzahl Karten: {{player.get_hand.size}}</p>
        </li>
        {%endif%}
      {%endfor%}
      
    </ol>
    
    <div id="space-between-list-and-chat">
      <div id="chatbox">    

        <form action="{{ url_for('games.create')}}" method="post">
          <h1>Chat</h1>
      
          <label for="msg"><b>Message</b></label>
          <textarea placeholder="Type message.." name="msg" required></textarea>
      
          <button type="submit" class="btn">Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>

      </div>

    </div>


  </div>
  {% endblock %} {%block footer%} {% endblock %}
</div>
